<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Assets/imagenes/minipipo_logo.jpeg">
    <meta name="Keywords" content="ropa de bebe, ropa de beba, indumentaria de niños, indumentaria de bebe de un año, ropa para chicos, ropa para niñas, tienda de ropa campana, tienda de ropa de niños, compra de ropa bebes, comprar ropa niños, comprar ropa niñas, ">
    <meta name="author" content="Marcos Escobar">
    <meta name="description" content="Recordá que si realizas una compra mayor a $8000, el envío es gratuito!">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- MI CSS -->
    <link rel="stylesheet" href="../css/css-bootstrap.css">

    <title>Productos beba</title>
 </head>
 <body>
 <!-- comienza el menú -->
     <header class="container-fluid header">
         <div class="row d-flex text-center">
             <div class="col-lg-12 col-12 newslatter ">
                 <h4>Con una compra mínima de $8000 ¡el envío es gratuito!</h4>
             </div>
         </div>
         <div class="row d-flex justify-content-center align-items-center">
             <div class="col-lg-9 col-6"> 
                 <a class="logo_central" href="../index.html" ><img class="img-fluid logo_central" src="../Assets/imagenes/minipipo_icon.png" alt="icono"></a> 
             </div>
             <div class="col-lg-1 col-2 text-center">
                 <a href="#"><img class="icon" src="../Assets/imagenes/login.png" alt="login"></a>            
             </div>
             <div class="col-lg-1 col-2 text-center justify-content-center align-items-center">
                 <img class="icon" src="../Assets/imagenes/favoritos.png" alt="favoritos">
             </div>
             <div class="col-lg-1 col-2 text-center">
                <a href="checkout.html"><img class="icon" src="../Assets/imagenes/carrito.png" alt="carrito"/></a>
             </div>
         </div>
        </header>
     <!-- comienza el menú -->
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-12">
                 <nav class="navbar navbar-expand-lg navbar-light bg-light">
                     <a class="navbar-brand" href="#"></a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarScroll">
                         <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                         <li class="nav-item active">
                             <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="contacto.html">Contacto</a>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="productos.html" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                             Productos
                             </a>
                             <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                             <li><a class="dropdown-item" href="#">Beba</a></li>
                             <li><a class="dropdown-item" href="productos_bebe.html">Bebe</a></li>
                             <li><hr class="dropdown-divider"></li>
                             <li><a class="dropdown-item" href="#">Niñxs</a></li>
                             </ul>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link" href="preguntas_frecuentes.html">Preguntas frecuentes</a>
                         </li>
                         </ul>
                         <form class="d-flex">
                         <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                         <button class="btn btn-outline-success" type="submit">Search</button>
                         </form>
                     </div>
                 </nav>
             </div>
         </div>       
     </div>
<!-- finaliza el menú -->
    <main class="container">
        <h1>PRODUCTOS BEBA</h1>
        <div class="row d-flex justify-content-center align-content-center">
            <div class="col-lg-4">
                <img src="../Assets/imagenes/beba_1.jpeg" class="producto" alt="beba_1">
            </div>
            <div class="col-lg-4">
                <img src="../Assets/imagenes/beba_2.jpeg" class="producto" alt="beba_2" >
            </div>
            <div class="col-lg-4">
                <img src="../Assets/imagenes/beba_3.jpeg" class="producto" alt="beba_3" >
            </div>
        </div>
    </main>
    <!-- comienza el footer -->
    <footer class="container-fluid footer">
        <div class="row d-flex justify-content-center align-items-end">
            <div class="col-lg-12 text-center">
                <p class="footer--newsletter">SI TE REGISTRAS A NUESTRO NEWSLATTER PODES ACCEDER A UN 10% DE DESCUENTO EN TU PRIMERA COMPRA!!</p>
            </div>
            <div class="col-lg-12 text-center">
                <form action="">
                    <label for="newslatter">
                        <input type="text" name="correo" placeholder="Ingresá tu mail"> 
                        <button class="boton" type="submit">Enviar</button>
                    </label>
                </form>
            </div>
            <div class="col-lg-4 text-center">
                <a href="envios.html"><img src="../Assets/imagenes/envios_icon.png" alt="envios_icon" class="icon_footer"></a>
                <h4>Envios</h4>
            </div>
            <div class="col-lg-4 text-center">
                <a href="cambios_y_devoluciones.html"><img src="../Assets/imagenes/devolucion.png" class="icon_footer" alt="cambios_y_devoluciones"></a>
                <h4>Cambios y devoluciones</h4>
            </div>
            <div class="col-lg-4 text-center">
                <a target="_blank" href="https://www.instagram.com/minipipo.kids/"><img src="../Assets/imagenes/rs_ig.png" class="rrss" alt="instagram/minipipo"/></a>
                <a target="_blank" href="https://www.facebook.com/minipipo.kids/"><img src="../Assets/imagenes/rs_fb.png" class="rrss" alt="facebook/minipipo" /></a>
                <h4>Seguinos en las redes</h4>
            </div>      
        </div>

    </footer>

<!-- finaliza el footer -->
    <!-- SCRIPT BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>