<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Assets/imagenes/minipipo_logo.jpeg">
    <meta name="Keywords" content="ropa de bebe, ropa de beba, indumentaria de niños, indumentaria de bebe de un año, ropa para chicos, ropa para niñas, tienda de ropa campana, tienda de ropa de niños, compra de ropa bebes, comprar ropa niños, comprar ropa niñas, ">
    <meta name="author" content="Marcos Escobar">
    <meta name="description" content="Recordá que si realizas una compra mayor a $8000, el envío es gratuito!">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Normalizeminipipo.css">
    <link rel="stylesheet" href="../minipipo.css">
    
    <title>Productos</title>
</head>
<body>
<!-- comienza el menú -->
<header class="menu_principal">
    <div class="panel__wrapper">
        <h4>Con una compra mínima de $8000, ¡El envío es gratuito!</h4>
    </div>
    <div class="top">
        <div class="logIn icon">
            <img src="../Assets/imagenes/login.png" alt="minipipo">
        </div>
        <div class="logo">
            <a class="logo_central" href="../index.html" ><img src="../Assets/imagenes/minipipo_icon.png" alt="minipipo_icon"></a>            
        </div>
        <div class="shop icon">
            <img src="../Assets/imagenes/favoritos.png" alt="favoritos">
            <a href="checkout.html"><img class="icon" src="../Assets/imagenes/carrito.png" alt="carrito"/></a>
        </div>
    </div>
    <div class="menu_principal">
        <nav class="menu_principal-nav">
            <ul>
                <li class="menu_principal__item"><a href="../index.html">Inicio</a></li>
                <li class="menu_principal__item navIzq"><a href="productos.html">Producto</a></li>
                <li class="menu_principal__item navCenter"><a href="contacto.html">Contacto</a></li>
                <li class="menu_principal__item navDer"><a href="preguntas_frecuentes.html">Preguntas frecuentes</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- finaliza el menú -->
    <main>
        <div>
            <h1>TODOS NUESTROS PRODUCTOS</h1>
            <div id="filtros">
                <p class="segundo_menu">Filtros</p>
                <ul class="segundo_menu">
                    <li class="segundo_menu--item"><a href="productos_beba.html">Beba</a></li>
                    <li class="segundo_menu--item"><a href="productos_bebe.html">Bebe</a></li>
                </ul>
            </div>
            <div class="productos">
                <img src="../Assets/imagenes/beba_1.jpeg" alt="" width="500px" >
                <img src="../Assets/imagenes/bebe_1.jpeg" alt="" width="500px" height="500px ">
                <img src="../Assets/imagenes/beba_2.jpeg" alt="" width="500px" height="500px">
                <img src="../Assets/imagenes/bebe_2.jpeg" alt="" width="500px" height="500px">
                <img src="../Assets/imagenes/beba_3.jpeg" alt="" width="500px" height="500px">
                <img src="../Assets/imagenes/bebe_3.jpeg" alt="" width="500px" height="500px">
            </div>
        </div>
    </main>
    <hr></hr>
<!-- comienza el footer -->
    <footer class="footer">
        <div class="fooNws ">
            <p class="footer--newsletter">SI TE REGISTRAS A NUESTRO NEWSLATTER PODES ACCEDER A UN 10% DE DESCUENTO EN TU PRIMERA COMPRA!!</p>
            <div class="newslatter">
                <form action="">
                    <label for="newslatter">
                        <input type="text" name="correo" placeholder="Ingresá tu mail"> 
                        <button class="boton" type="submit">Enviar</button>
                    </label>
                </form> 
            </div>
        </div>
        <div class="grids_foo">
                <div class="icon envios">
                    <a href="envios.html"><img src="../Assets/imagenes/envios_icon.png" alt="envios"></a>
                </div>
                <div class="icon devoluciones">
                    <a href="cambios_y_devoluciones.html"><img src="../Assets/imagenes/devolucion.png" alt="cambios_y_devoluciones"></a>
                </div>
                <div class="icon rrss ">
                    <a target="_blank" href="https://www.instagram.com/minipipo.kids/"><img src="../Assets/imagenes/rs_ig.png" alt="instagram/minipipo"/></a>
                    <a target="_blank" href="https://www.facebook.com/minipipo.kids/"><img src="../Assets/imagenes/rs_fb.png" alt="facebook/minipipo" /></a>
                </div>
                <div class="envios_text">
                    <h4>Envios</h4>
                </div>
                <div class="devolucionestext">
                    <h4>Cambios y devoluciones</h4>
                </div>
                <div class="rrsstext">
                    <h4>Seguinos en las redes</h4>
                </div>
            </div> 
        </div>  
    </footer>
<!-- finaliza el footer -->
</body>
</html>